<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/MyStyle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Logo</h1>
        <nav>
            <ul>
                <li>
                    <h4>Click here for company information</h4>
                    @Html.ActionLink("About us", "About", "Home")
                </li>
                <li>
                    @Html.ActionLink("About me", "AboutMe", "Home")
                </li>
                <li>
                    @*@Html.ActionLink("Multi Table", "Experiment", "Home")*@
                    <a asp-action="Experiment" asp-controller="Home">Multi Table</a>
                </li>
                <li>
                    @Html.ActionLink("Finished projects", "Projects", "Home")
                </li>
                <li>
                    <a asp-action="ContactUs" asp-controller="Home">Contact Us</a>
                </li>
                <li>
                    <a asp-action="ContactMe" asp-controller="Home">Contact Me</a>
                </li>
            </ul>
        </nav>
    </header>

    <div>
        @RenderBody()                           @*Main content, render the HTML content, the page  *@
    </div>



    <footer>
        <p> Date today is: DateTime </p>
        <p>&copy;Rajtan-Tajtan Technology</p>
    </footer>
</body>
</html>
